<container>
    <row class="header">
      <columns small="6" large="6" valign="middle">
      <img class="logo-white" src="https://i.postimg.cc/G3JQ5zNB/logo-white.png" alt="logo of brand">
      </columns>
  
      <columns small="6" large="6" valign="middle">
        <img class="user-icon float-right" src="https://i.postimg.cc/MT0ygKsk/user.png" alt="logo of brand">
      </columns>
    </row>
  
  
    <row class="sub-header">
      
      <columns  style="width: 90%;">
        <row>
          <columns small="4" large="3">
             <a href="#" class="text-center">
             <img class="icons" src="https://i.postimg.cc/59w7MfH2/airplane.png">Flights</a>
          </columns>
  
          <columns class="show-for-large" style="width: 1%;">
            <span class="menu-divider"></span>
          </columns>
  
          <columns small="4" large='3'>
              <a href="#" class="text-center">
              <img class="icons" src="https://i.postimg.cc/zvS0wkmg/bed.png">Hotels</a>
          </columns>
  
          <columns class="show-for-large" style="width: 1%;">
            <span class="menu-divider"></span>
          </columns>
  
          <columns small="4" large="3">
              <a href="#" class="text-center">
              <img class="icons" src="https://i.postimg.cc/bNp6y4bH/car.png">Cars</a>
          </columns>
  
          <columns class="show-for-large" style="width: 1%;">
            <span class="menu-divider"></span>
          </columns>
  
          <columns small="4" large="3" class="show-for-large">
              <a href="#" class="text-center">
              <img class="icons" src="https://i.postimg.cc/13Tcqdgd/umbrella.png">Packages</a>
          </columns>
          
        </row>
      </columns>
    </row>
  </container>